@charset "UTF-8";
/* Configurações Gerais */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor01: #0818E5;
    --cor02: #292B3C;
}

body {
    background-color: black;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.interface{
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    background-color: var(--cor01);
    border-radius: 20px;
    border: 0;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.btn-contato button:hover, form .btn-enviar input[type=submit]:hover {
    box-shadow: 0px 0px 8px var(--cor01);
    transform: scale(1.05);
}

header {
    background-image:linear-gradient(to top, black,#030746,#050e8b);
}

h2.titulo {
    color: white;
    font-size: 2rem;
    text-align: center;
}

h2.titulo span {
    color: var(--cor01);
}
/* Cabeçalho */

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: rgb(103, 103, 103);
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
}

header a:hover {
    color: white;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0px 40px;
}

/*Sobre mim*/

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: white;
    font-size: 3rem;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: var(--cor01);
}

.topo-do-site .txt-topo-site h1 span.nome{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
}

.topo-do-site .txt-topo-site p {
    color: white;
    margin: 40px 0px;
}

.topo-do-site .txt-topo-site p span {
    color: var(--cor01);
    font-weight: bold;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 3s ease-in-out infinite alternate;
    border-radius: 160px;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/*Habilidades*/

section.habilidades {
    padding: 40px 4%;
    display: flex;
}

section.habilidades .flex{
    gap: 80px;
}

section.habilidades .habilidades-box {
    color: white;
    padding: 40px;
    border: 2px solid transparent;
    margin-top: 40px;
    border-radius: 20px;
    transition: 0.5s;
    text-align: center;
    max-width: 280px;
}

section.habilidades .habilidades-box:hover {
    box-shadow: 0px 0px 8px rgba(245, 245, 245, 0.285);
    transform: scale(1.05);
}

section.habilidades .habilidades-box i {
    font-size: 4rem;
}

section.habilidades .habilidades-box i#html {
    color: #ec6231;
}

section.habilidades .habilidades-box i#css {
    color: #0818E5;
}

section.habilidades .habilidades-box i#js {
    color: #FFD600;
}

section.habilidades .habilidades-box h3 {
    font-size: 1.5rem;
    margin: 20px 0px;
}

/*Projetos*/

section.projetos {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.1);
}

section.projetos .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-proj {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-proj:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.822);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: 0.5s;
}

.overlay:hover {
    opacity: 1;
}

/*Formulario*/

section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea {
    width: 100%;
    background-color: rgba(47, 47, 47, 0.947);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 300px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input[type=submit] {
    width: 120px;
    background-color: var(--cor01);
    color: black;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* rodape */

footer {
    padding: 10px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.1);
}

footer .flex {
    justify-content: space-between;
    align-items: center;
}

footer .btn-social button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

#linkedin {
    background-color: #0e76a8;
}

#github {
    background-color: #171515;
}

#whatsapp {
    background-color: #00CA50;
}

footer .line-rodape {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid var(--cor01);
}

footer .line-rodape p i{
    color: var(--cor01);
    font-size: 18px;
}

footer .line-rodape p a {
    color: white;
    text-decoration: none;
}